<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="mt-5 text-center">
            <h1>Welcome to the Home Page</h1>
                <p class="lead">You are not logged in.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                <a href="{% url 'register' %}" class="btn btn-secondary">Register</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>